@import url("https://fonts.googleapis.com/css2?family=Inter&family=Raleway:wght@400;600&display=swap");

:root {
  --main-background: #f4f4f9;
  --sec-color: #a1e3ed;
  --third-color: #586f7c;
  --contrast: #2f4550;
  --dark-contrast: black;

  --button-bg: #7acbd9;
  --hero-h1-gb: #2f45504f;

  --heading-font: "Raleway", "Inter", sans-serif;
  --paragraph-font: "Inter", sans-serif;

  --switcher-size: 1rem;
  --transition: color 0.1s, background-color 0.2s ease-in-out;
  --transtition2: all 300ms ease-out;
}

body {
  background-color: var(--main-background);
  font-family: var(--paragraph-font);
  text-align: center;
  margin: 0 auto;
  transition: var(--transition);
}
header {
  background-color: var(--contrast);
  color: var(--main-background);
}
hr {
  border: var(--contrast) 1px solid;
  margin: 2rem;
}
button {
  background-color: var(--sec-color);
  color: var(--dark-contrast);
  font-family: var(--paragraph-font);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 20px;
  box-shadow: none;
  transition: var(--transtition2);
}
button:hover {
  box-shadow: var(--third-color) 1px 1px 6px, var(--third-color) -1px -1px 6px;
  background-color: var(--button-bg);
}
button:active {
  background-color: var(--sec-color);
}
h1,
h2,
h3,
h4 {
  font-family: var(--heading-font);
}
p, li {
  line-height: 1.5rem;
}

/* Logo */
#logo {
  width: fit-content;
  max-width: 50px;
  border-radius: 100%;
  margin: 0.3rem;
  opacity: 0.7;
  transition: var(--transtition2);
}
#logo:hover {
  opacity: 1;
}
header a {
  text-decoration: none;
}

/* Slider */
.switch {
  position: absolute;
  top: calc(var(--switcher-size) * 1.1);
  right: calc(var(--switcher-size) * 5);
  display: inline-block;
  width: calc(var(--switcher-size) * 2.5);
  height: calc(var(--switcher-size) * 1.3);
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--main-background);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: var(--switcher-size);
  width: var(--switcher-size);
  left: calc(var(--switcher-size) * 0.2);
  bottom: calc(var(--switcher-size) * 0.15);
  background-color: var(--third-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: var(--dark-contrast);
}
input:focus + .slider {
  box-shadow: 0 0 1px var(--main-background);
}
input:checked + .slider:before {
  -webkit-transform: translateX(calc(var(--switcher-size) * 1.2));
  -ms-transform: translateX(calc(var(--switcher-size) * 1.2));
  transform: translateX(calc(var(--switcher-size) * 1.2));
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

/* Menu hamburger */
#menu {
  display: block;
  position: absolute;
  top: 0;
  right: 1rem;
  background-color: rgb(0, 0, 0, 0);
  border: 0;
  font-size: 2rem;
  box-shadow: none;
}
#menu::before {
  content: "≡";
  color: var(--main-background);
}
#menu.show::before {
  content: "✖";
}

/* Banner */
#banner {
  padding: 0.1rem 1rem;
  margin: 0 3rem;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 9fr;
  text-align: justify;
}
#banner button {
  grid-column: 1;
  grid-row: 1/3;
  width: min-content;
  height: min-content;
  margin: 0;
  align-self: center;
  justify-self: left;
}
#banner p,
#banner h3 {
  margin: 0;
  padding: 0.5rem 0;
}

/* Navigation */
.navigation {
  font-family: var(--heading-font);
  background-color: var(--contrast);
  display: flex;
  flex-direction: column;
  padding: 0;
}
.navigation a {
  display: none;
  font-family: var(--heading-font);
  color: var(--main-background);
  padding: 0.5rem 2rem;
  font-weight: bold;
  text-decoration: none;
  transition: var(--transtition2);
}
.navigation a:hover {
  background-color: var(--third-color);
}
.show a {
  display: block;
}

/* Wayfinding */
a.active {
  color: var(--sec-color);
}

/* HERO */
#hero {
  position: relative;
  text-align: center;
}
#hero h1 {
  position: absolute;
  color: var(--sec-color);
  font-size: 1.5rem;
  top: 0;
  left: 0;
  right: 0;
  text-shadow: var(--dark-contrast) 1px 1px 4px,
    var(--dark-contrast) -1px -1px 4px;
  border-radius: 10px;
  margin: 1rem 0;
}
#join-button {
  position: absolute;
  left: 0;
  bottom: 2rem;
  right: 0;
  margin: 0 25%;
  padding: 0.5rem 0;
  justify-self: center;
}
.hero-img {
  width: 100%;
  max-height: 350px;
  object-fit: cover;
  transition: var(--transtition2);
}

/* EVENT SECTION */
.events img,
.weather img {
  width: fit-content;
  max-width: 400px;
}

/* WEATHER SECTION */
.weather > div {
  display: grid;
}
.weather div {
  border-radius: 10px;
  margin: 0 2rem;
}
.weather figure {
  display: flex;
  justify-content: center;
  align-items: center;
}
#days-forecast {
  background-color: rgb(0, 0, 0, 0);
  display: grid;
}
#days-forecast span {
  margin: 1%;
}
.weather-card {
  display: flex;
  flex-direction: column;
  border: var(--sec-color) solid 1px;
  background-color: var(--sec-color);
  border-radius: 10px;
  margin: 2px 1%;
  padding: 1rem;
}

/* COMPANY SECTION */
.companies {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  justify-items: center;
  align-items: center;
}
.company-img {
  opacity: 0.7;
  width: 100%;
  max-width: 200px;
  transition: all 400ms ease-out;
  filter: blur(0.5px);
  border-radius: 10px;
}
.company-img:hover {
  opacity: 1;
  filter: blur(0);
  border-radius: 5px;
}

/* REVIEW SECTION */
.spotlights {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
.review {
  background-color: var(--contrast);
  color: var(--main-background);
  margin: 1rem;
  border-radius: 15px;
  padding: 1rem;
  max-width: 250px;
}
.review-img {
  float: left;
  max-width: 50px;
  border-radius: 10px;
}
.company-name {
  font-weight: bold;
  text-align: center;
}
.comment {
  font-style: oblique;
}

/* Footer */
footer {
  color: var(--main-background);
  background-color: var(--contrast);
  margin: 0 auto;
  margin-top: 1rem;
  padding: 0.3rem;
}
footer a {
  color: var(--main-background);
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
.social {
  align-self: center;
}
.social a:hover {
  text-decoration: none;
}
.social img {
  width: 30px;
  margin: 0.3rem;
}
.social img:hover {
  opacity: 0.7;
}

/* Darkmode */
.darkmode {
  background-color: var(--dark-contrast);
  color: var(--main-background);
}

/* DISCOVER PAGE */
#discover {
  margin: 1rem 0.5rem;
  display: block;
}
.company {
  display: block;
  background-color: white;
  padding: 1rem;
  border-radius: 3px;
  margin: 1rem 0;
  transition: var(--transition);
  box-shadow: 1px 1px 4px var(--hero-h1-gb), -1px -1px 4px var(--hero-h1-gb);
}
.company img {
  align-self: center;
  opacity: 1;
  border-radius: 3px;
}
.company h3,
.company p,
.company a {
  grid-column: 2;
}
.company h3 {
  font-weight: bolder;
  font-size: 2em;
  font-family: var(--heading-font);
}
.company p,
.demographic p {
  padding: 1rem;
  text-align: justify;
}
.company a,
.simple-link {
  text-decoration: underline;
  color: var(--dark-contrast);
  text-align: right;
  transition: var(--transition);
}
.company a:hover,
.simple-link:hover {
  color: var(--contrast);
}
/* Sidebar */
.demographic {
  border-radius: 3px;
  transition: var(--transition);
  background-color: white;
  box-shadow: 1px 1px 4px var(--hero-h1-gb), -1px -1px 4px var(--hero-h1-gb);
}
.company.darkmode,
.demographic.darkmode {
  background-color: #2f4550;
}
.company.darkmode a,
.simple-link.darkmode {
  color: var(--sec-color);
  background-color: rgb(0, 0, 0, 0);
}
.company.darkmode a:hover,
.simple-link.darkmode:hover {
  color: var(--main-background);
}
.demographic img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

/* Form */
#form-page {
  display: block;
  justify-items: center;
}
form {
  text-align: left;
  font-family: var(--paragraph-font);
  margin: 5% 2%;
  border: 2px solid var(--third-color);
  padding: 0 2%;
  border-radius: 5px;
}
form fieldset {
  margin: 2rem 0;
  border: 1px solid var(--contrast);
  border-radius: 5px;
  padding: 1rem 2%;
  transition: var(--transition);
}
form fieldset.darkmode {
  border-color: var(--main-background);
  background-color: var(--contrast);
}
form legend {
  font-family: var(--heading-font);
  font-weight: bold;
  font-size: larger;
  margin: 0 1rem;
  padding: 0 0.5rem;
}
form label.top {
  display: block;
  padding-top: 0.6rem;
  font-size: 1rem;
}
form label.top input,
form label.top textarea {
  -webkit-appearance: none;
  display: block;
  font-size: 1rem;
  border: 1px solid var(--contrast);
  border-radius: 3px;
  padding: 0.7rem;
  color: var(--dark-contrast);
  width: 100%;
  max-width: 20rem;
  background-color: white;
  box-sizing: border-box;
  transition: var(--transition);
}
form label.top input.darkmode,
form label.top textarea.darkmode {
  background-color: rgb(235, 235, 235);
}
form label.msoption {
  display: block;
  font-size: 1.2rem;
  padding: 0.7rem 0;
}
.submitBtn {
  border: none;
  background-color: var(--button-bg);
  width: 96%;
  max-width: 20rem;
  border-radius: 5px;
  padding: 0.7rem 1rem;
  color: var(--dark-contrast);
  font-family: var(--heading-font);
  font-weight: bold;
  font-size: large;
  margin: 0 0 3rem 2%;
}
form label.top input:required,
form label.top textarea:required {
  border-left: 5px solid red;
}
form label.top input:required:valid,
form label.top textarea:required:valid {
  border-left: solid 5px green;
}

#membership-levels {
  margin: 1rem 2%;
  text-align: justify;
}
#membership-levels img {
  width: 40px;
  height: 40px;
  float: left;
  transition: 500ms ease-in-out;
}
#membership-levels-desc {
  margin: 2% 10%;
}
#membership-levels-desc section {
  margin: 5% 0;
}
#membership-levels-desc img {
  transition: 500ms ease-in-out;
}

#membership-levels-desc p {
  text-align: justify;
}
#membership-levels img:hover,
#membership-levels-desc img:hover {
  transform: scale(1.1);
}
#membership-levels h3 {
  text-align: center;
}
.mslevel {
  margin: 1rem 0.4rem;
  border: 1px solid var(--contrast);
  border-radius: 5px;
  padding: 2% 5%;
  transition: var(--transition2);
}
.mslevel.darkmode {
  background-color: var(--contrast);
  border: 1px solid var(--main-background);
}
.price {
  font-weight: bolder;
  font-style: italic;
  color: var(--contrast);
  transition: var(--transition2);
}
.price:hover {
  color: var(--dark-contrast);
}
.price.darkmode {
  color: var(--sec-color);
  background-color: var(--contrast);
}
.price.darkmode:hover {
  color: white;
}
#membership-levels ul {
  text-align: left;
}

/* Thank you page */
#form-sent {
  height: 90vh;
}
#form-sent a {
  font-family: var(--heading-font);
  text-decoration: underline;
  font-size: 1.7rem;
  color: var(--contrast);
}
#form-sent a:hover {
  color: var(--dark-contrast);
  text-shadow: 2px 2px 10px var(--hero-h1-gb), -2px -2px 10px var(--hero-h1-gb);
}

/* MEMBERS PAGE */
#display-options {
  margin: 2%;
  transition: var(--transition2);
}
#display-options button {
  margin: 0 1rem;
  box-sizing: border-box;
  transition: var(--transition2);
}
.btn-active {
  border: var(--contrast) 2px solid;
}
#members {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
#members.display-list {
  display: flex;
  flex-direction: column;
  text-align: left;
}
#members.display-list img {
  display: none;
}

#members.display-list section > h2 {
  font-size: large;
}
#members.display-list section:nth-child(odd) {
  background-color: var(--hero-h1-gb);
}

/* EVENT PAGE */
.event-img {
  width: 75%;
  max-height: 500px;
  object-fit: cover;
}
.event-info {
  text-align: justify;
  margin: 1rem 2rem;
}
.event-highlight {
  font-weight: bold;
  font-size: large;
  font-family: var(--heading-font);
}
.event-span {
  font-weight: bold;
}